// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
span {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 30px;
}

.list-group {
  margin: 10px, 60px;
}
