<div class="container">
  <div class="title">
    <h1 class="display 3">
      Our Restaurants
    </h1>
  </div>
  <div class="list-group">
    <% @restaurants.each do |restaurant| %>
      <div class="row list-group-item" >
        <span >
          <h4 ><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
          <p ><%= restaurant.address %></p>
        </span>
        <p><% restaurant.avg_rating.times {%><i class= 'fa fa-star'></i><% } %></p>
      </div>
    <% end %>
  </div>
</div>
